.lyrics{
	margin-top: 50px;
	text-align: center;
	color: white;
	font-family: "Courier New";
	line-height: 30px;
	margin-bottom: 200px;
}

h1{
	text-align: center;
	color:white;
	font-family: "montserrat";
	margin-top: 100px;
}

h2{
	text-align: center;
	color: white;
	font-family: "montserrat";

}

body{
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("background_img.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}